/***** reset.css******/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/***** reset end******/
@font-face {
  font-family: test2 ;
  src: url('../fonts/test2.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/***** 预置变量 ******/
.pd10 {
  padding: 10px 0;
}
.pd20 {
  padding: 20px 0;
}
.pd40 {
  padding: 40px 0;
}
.mg5 {
  margin: 5px 0;
}
.mg10 {
  margin: 10px 0;
}
.mg20 {
  margin: 20px 0;
}
.mg40 {
  margin: 40px 0;
}
.textInfo {
  font-size: 16px;
  line-height: 150%;
  text-align: justify;
}
/***** 预制变量 end******/
/***** 预制类******/
.affix-top {
  position: absolute;
}
/***** 预制类 end******/
/***** 轮播图 ******/
#myCarousel1,
#myCarousel1 .item {
  max-height: 650px;
}
#myCarousel1 .carousel-control {
  display: flex;
  justify-content: center;
  align-items: center;
}
/***** 轮播图 end *****/
.affix {
  top: 0;
}
/***** 导航 ******/
header {
  width: 100%!important;
  height: 50px;
  z-index: 10000;
  background: #fff!important;
}
header .row .logo {
  height: 50px !important;
  background: url("../ico/logo.png") no-repeat center;
  background-size: contain;
  z-index: 10000;
}
header .row nav.navbar {
  margin-bottom: 0;
  background: #fff!important;
  border: none;
  font-size: 15px;
  font-family: test2 ;
  z-index: 8000;
}
header .row nav.navbar button.navbar-toggle {
  background: none;
  border: none;
}
header .row nav.navbar a:hover {
  color: #C00;
  background: none;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
}
header .row nav.navbar .active a {
  background: none;
  color: #C00;
}
header .row nav.navbar .active a:hover {
  background: none;
  color: #C00;
}
/***** 导航 end******/
/***** 主体 ******/
section#about-PE {
  background: #e7e7e7;
}
section#about-PE > div.container {
  padding-top: 100px;
}
section#about-PE .intro h2 {
  width: 180px;
  margin: 0 auto;
  border-bottom: 2px solid #C00;
  padding: 10px 0;
}
section#about-PE .intro p {
  padding: 20px 0;
  font-size: 16px;
  line-height: 150%;
  text-align: justify;
}
section#about-PE .service > div {
  margin: 20px 0;
}
section#about-PE .service > div .service-title {
  margin: 5px 0;
  padding: 0;
}
section#about-PE .service > div .service-title h3 {
  padding: 10px 0;
}
section#about-PE .service > div .service-title:hover i {
  color: #C00;
}
section#about-PE .service > div .service-content {
  margin: 5px 0;
  padding: 0;
  cursor: pointer;
}
section#about-PE .service > div .service-content p {
  font-size: 16px;
  line-height: 150%;
  text-align: justify;
}
section#about-PE .service > div .service-content p span:hover {
  border-bottom: 2px solid red;
}
