.textInfo {
  font-size: 18px;
  line-height: 2;
  text-align: justify;
}
.loader {
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.loader img {
  width: 50%;
}
.peWrap .sectionIntro {
  position: relative;
  margin-bottom: 50px;
  text-align: center;
  color: #951d22;
  border-bottom: 1px solid #a7a7a7;
}
.peWrap .sectionIntro .sectionIntro-title {
  margin-bottom: 12px;
}
.peWrap .sectionIntro .sectionIntro-title p {
  font-family: "Arial Black", sans-serif;
  font-size: 12px;
}
.peWrap .sectionIntro a {
  position: absolute;
  right: 0;
  top: 15px;
  display: inline-block;
  font-size: 12px;
  color: #a7a7a7;
}
.peWrap .sectionIntro a img {
  vertical-align: text-bottom;
}
.peWrap .sectionIntro a .xs-learnMore {
  margin-right: 20px;
}
.peWrap #myCarousel,
.peWrap #myCarousel2 {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}
.peWrap #myCarousel,
.peWrap #myCarousel2,
.peWrap #myCarousel .item,
.peWrap #myCarousel2 .item {
  max-height: 800px;
}
.peWrap #myCarousel .carousel-control,
.peWrap #myCarousel2 .carousel-control {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}
.peWrap #myCarousel2 .carousel-control {
  width: 5%;
  min-width: 20px;
  color: #bfbfbf;
  background: rgba(242, 242, 242, 0.8);
}
.peWrap .affix {
  top: 0;
}
.peWrap header {
  position: absolute;
  width: 100% !important;
  height: 54px;
  z-index: 10000;
  background: #fff !important;
  border-top: 2px solid #f2f2f2;
  border-bottom: 2px solid #f2f2f2;
}
.peWrap header .row .logo {
  height: calc(54px - 3px) !important;
  background: url("../ico/logo.png") no-repeat center;
  background-size: contain;
  z-index: 10000;
}
.peWrap header .row nav.navbar {
  margin-bottom: 0;
  background: #fff !important;
  border: none;
  font-weight: 600;
  font-size: 14px;
  z-index: 8000;
}
.peWrap header .row nav.navbar button.navbar-toggle {
  background: none;
  border: none;
}
.peWrap header .row nav.navbar a:active {
  background: none;
}
.peWrap header .row nav.navbar a:hover {
  color: #C00;
  background: none;
  transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
}
.peWrap header .row nav.navbar .active a {
  background: none;
  color: #C00;
}
.peWrap header .row nav.navbar .active a:hover {
  background: none;
  color: #C00;
}
.peWrap header .row nav.navbar .active a:focus {
  background: none;
  color: #C00;
}
.peWrap #case .caseList {
  margin-top: -30px;
  margin-bottom: 20px;
}
.peWrap #case .caseList .items-nav {
  width: 100%;
  text-align: center;
}
.peWrap #case .caseList .items-nav li {
  display: inline-block;
  margin: 0 15px 20px;
  font-size: 14px;
  cursor: pointer;
  padding: 5px;
}
.peWrap #case .caseList .items-nav li a {
  color: #a7a7a7;
  text-decoration: none;
}
.peWrap #case .caseList .items-nav .active,
.peWrap #case .caseList .items-nav li:hover {
  background: #666;
  transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
}
.peWrap #case .caseList .items-nav .active a,
.peWrap #case .caseList .items-nav li:hover a {
  color: #fff;
}
.peWrap #case .items {
  width: 100%;
}
.peWrap #case .items .item {
  position: relative;
  padding: 4px;
}
.peWrap #case .items .item a {
  position: relative;
  display: block;
  overflow: hidden;
}
.peWrap #case .items .item img {
  width: 100%;
  vertical-align: middle;
  transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}
.peWrap #case .items .item:hover img {
  transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
  -webkit-transform: scale(1.1, 1.1);
}
.peWrap #case .items .workTitle {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  color: #fff;
  font-size: 24px;
  z-index: 20;
}
.peWrap #case .items .workTitle .workTitle-bottom {
  margin-top: 24px;
  font-size: 16px;
}
.peWrap #case .items .overlay {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 19;
}
.peWrap #case .items .new .new-work {
  display: inline-block;
}
.peWrap #case .items .new-work {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 55px;
  height: 55px;
  line-height: 55px;
  text-align: center;
  color: #fff;
  font-size: 18px;
  background: rgba(149, 29, 34, 0.7);
  z-index: 500;
}
.peWrap #joinUs .joinUs-text {
  margin-bottom: 50px;
  color: #272525;
  font-size: 16px;
  line-height: 1.8;
  text-align: justify;
}
.peWrap #joinUs .joinUs-text .joinUs-text-bottom {
  margin-top: 40px;
  color: #951d22;
}
.peWrap #joinUs .joinUs-content i {
  display: inline-block;
  width: 106px;
  height: 106px;
  background: url('../img/joinUs-content-bg.png') no-repeat;
  cursor: pointer;
}
.peWrap #joinUs .joinUs-content i.market {
  background-position: 0 0;
}
.peWrap #joinUs .joinUs-content i.market:hover {
  background-position: 0 100%;
}
.peWrap #joinUs .joinUs-content i.market:hover + h3 {
  color: #951d22;
}
.peWrap #joinUs .joinUs-content i.intelligence {
  background-position: 25% 0;
}
.peWrap #joinUs .joinUs-content i.intelligence:hover {
  background-position: 25% 100%;
}
.peWrap #joinUs .joinUs-content i.intelligence:hover + h3 {
  color: #951d22;
}
.peWrap #joinUs .joinUs-content i.industry {
  background-position: 50% 0;
}
.peWrap #joinUs .joinUs-content i.industry:hover {
  background-position: 50% 100%;
}
.peWrap #joinUs .joinUs-content i.industry:hover + h3 {
  color: #951d22;
}
.peWrap #joinUs .joinUs-content i.machining {
  background-position: 75% 0;
}
.peWrap #joinUs .joinUs-content i.machining:hover {
  background-position: 75% 100%;
}
.peWrap #joinUs .joinUs-content i.machining:hover + h3 {
  color: #951d22;
}
.peWrap #joinUs .joinUs-content i.cooperate {
  background-position: 100% 0;
}
.peWrap #joinUs .joinUs-content i.cooperate:hover {
  background-position: 100% 100%;
}
.peWrap #joinUs .joinUs-content i.cooperate:hover + h3 {
  color: #951d22;
}
.peWrap #joinUs .joinUs-content .content-item {
  margin-top: 20px;
  margin-bottom: 20px;
}
.peWrap #joinUs .joinUs-content h3 {
  margin: 16px 0 12px;
  color: #272525;
  font-size: 16px;
}
.peWrap #joinUs .joinUs-content p {
  color: #a2a2a2;
  text-align: justify;
  font-size: 14px;
  line-height: 20px;
}
@media (max-width: 768px) {
  .peWrap #joinUs .joinUs-content p {
    text-align: center;
  }
}
.peWrap #about-PE .aboutPEImage {
  margin-bottom: 50px;
  color: #272525;
  font-size: 16px;
  line-height: 1.8;
  text-align: justify;
}
.peWrap #about-PE .aboutPE-content {
  margin-bottom: 70px;
}
.peWrap #about-PE .aboutPE-content .content-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  min-width: 200px;
}
.peWrap #about-PE .aboutPE-content .content-item i {
  flex-grow: 0;
  flex-shrink: 0;
  display: inline-block;
  width: 80px;
  height: 80px;
  background: url('../img/aboutPE-content-bg.png') no-repeat;
}
.peWrap #about-PE .aboutPE-content .content-item i.firstIcon {
  background-position: 0 0;
}
.peWrap #about-PE .aboutPE-content .content-item i.secondIcon {
  background-position: 33.3% 0;
}
.peWrap #about-PE .aboutPE-content .content-item i.thirdIcon {
  background-position: 66.6% 0;
}
.peWrap #about-PE .aboutPE-content .content-item i.fourthIcon {
  background-position: 100% 0;
}
.peWrap #about-PE .aboutPE-content .content-item .content-item-text {
  flex-grow: 0;
  flex-shrink: 0;
  display: inline-block;
  margin-left: 25px;
  width: 120px;
  text-align: justify;
}
.peWrap #about-PE .aboutPE-content .content-item .content-item-text h3 {
  margin-bottom: 10px;
  color: #951d22;
  font-size: 20px;
}
.peWrap #about-PE .aboutPE-content .content-item .content-item-text p {
  font-size: 13px;
  line-height: 1.5;
}
.peWrap #about-PE .aboutPE-customer {
  margin-bottom: 20px;
}
.peWrap #about-PE .aboutPE-customer h3 {
  margin-bottom: 20px;
  color: #951d22;
  font-size: 20px;
}
.peWrap #about-PE .aboutPE-customer .myTable {
  margin: 0 auto;
  width: 85%;
}
.peWrap #about-PE .aboutPE-customer .myTable td {
  text-align: center;
  border: 1px solid #bfbfbf;
}
.peWrap #about-PE .aboutPE-customer .myTable td img {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}
.peWrap #about-PE .aboutPE-customer .myTable td:hover img {
  filter: none;
  -webkit-filter: none;
  transition: 0.3s all ease-in;
}
.peWrap #contactUs {
  position: relative;
}
.peWrap #contactUs .contactUs-content .contactUs-detail h3 {
  color: #951d22;
  font-size: 26px;
}
@media (max-width: 768px) {
  .peWrap #contactUs .contactUs-content .contactUs-detail h3 {
    color: #951d22;
    font-size: 20px;
    text-align: center;
  }
}
.peWrap #contactUs .contactUs-content .contactUs-detail .qrCode {
  margin-top: 40px;
}
.peWrap #contactUs .contactUs-content .contactUs-detail .qrCode img {
  border: 1px solid #f2f2f2;
}
.peWrap #contactUs .contactUs-content .contactUs-detail .qrCode p {
  margin-top: 10px;
  color: #000;
  font-size: 12px;
  text-align: center;
}
.peWrap #contactUs .contactUs-content .contactUs-detail .contactWay {
  margin-top: 40px;
  color: #272525;
  font-size: 14px;
}
.peWrap #contactUs .contactUs-content .contactUs-detail .contactWay li {
  height: 30px;
  line-height: 30px;
  margin-bottom: 18px;
}
.peWrap #contactUs .contactUs-content .contactUs-detail .contactWay li i {
  display: inline-block;
  width: 30px;
  height: 30px;
  vertical-align: middle;
  background: url('../img/contactWay-bg.png') no-repeat;
}
.peWrap #contactUs .contactUs-content .contactUs-detail .contactWay li span {
  margin-left: 10px;
  vertical-align: middle;
}
.peWrap #contactUs .contactUs-content .contactUs-detail .contactWay li.phone i {
  background-position: 0 0;
}
.peWrap #contactUs .contactUs-content .contactUs-detail .contactWay li.email i {
  background-position: 33.3% 0;
}
.peWrap #contactUs .contactUs-content .contactUs-detail .contactWay li.address i {
  background-position: 66.6% 0;
}
.peWrap #contactUs .contactUs-content .contactUs-detail .contactWay li.website i {
  background-position: 100% 0;
}
.peWrap #contactUs .contactUs-content .contactUs-map {
  margin-bottom: 120px;
  height: 250px;
  background: url('../img/loading.gif') no-repeat center center;
}
.peWrap #contactUs .contactUs-content .contactUs-map label,
.peWrap #contactUs .contactUs-content .contactUs-map img {
  max-width: none;
}
.peWrap .footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  border-top: 2px solid #f2f2f2;
}
.peWrap .footer span {
  display: inline-block;
  font-size: 12px;
  margin: 3px 0;
}
.peWrap .footer span.backupNo {
  margin: 0 5px;
}
